.about-container {
  background-color: #ff5050;
  color: white;
  text-align: center;
  padding: 4rem 2rem;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-logo {
  max-width: 720px;
  height: auto;
  margin-bottom: 2rem;
}

.about-container p {
  max-width: 800px;
  margin: 1rem auto;
  font-size: 1.4rem;
  line-height: 1.8;
  color: white;
  font-weight: 400;
}

@media (max-width: 768px) {
  .about-logo {
    max-width: 90%;
  }

  .about-container p {
    font-size: 1rem;
    padding: 0 1rem;
  }
}
