/* ===== Base (Desktop & Large Screens) ===== */
.logo-wrapper {
  position: relative;
  width: 24vw;
  max-width: 110px;
  aspect-ratio: 1 / 1;
  margin-left: 15px;
  cursor: pointer;
}

.vinyl-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* White overlay background */
.venyl_img img.vinyl-overlay {
  position: absolute;
  width: 85%;
  height: 80%;
  top: 10%;
  left: 5%;
  object-fit: contain;
  z-index: 1;
}

/* Red vinyl */
.clogo img.vinyl {
  position: absolute;
  width: 48%;
  top: 26%;
  left: 7%;
  object-fit: contain;
  transform-origin: center;
  z-index: 2;
}

/* Slower rotation */
.vinyl.rotating {
  animation: spin 12s linear infinite;
  animation-play-state: running;
}

.paused {
  animation-play-state: paused !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Tonearm */
.venyl_stick img.vinyl-stick {
  position: absolute;
  /* width: 25%;
  top: 38%;
  left: 20%; */

  width: 25%;
  top: 54%;
  left: 18%;
  transform-origin: top right;
  z-index: 3;
}


/* ===== Tablets (≤ 1024px) ===== */
@media (max-width: 1024px) {
  .logo-wrapper {
    width: 20vw;
    max-width: 100px;
  }

  .venyl_img img.vinyl-overlay {
    width: 100%;
    height: 78%;
    top: 11%;
    left: 4%;
  }

  .clogo img.vinyl {
    width: 55%;
    top: 25%;
    left: 7%;
  }
}

/* ===== Small Tablets & Large Phones (≤ 768px) ===== */
@media (max-width: 768px) {
  .logo-wrapper {
    width: 16vw;
    max-width: 85px;
  }

  .venyl_img img.vinyl-overlay {
    /* width: 75%; */
    width: 95%;
    height: 77%;
    top: 12%;
    left: 4%;
  }

  .clogo img.vinyl {
    width: 53%;
    top: 25%;
    left: 7%;
  }
}

/* ===== Mobile Phones (≤ 480px) ===== */
@media (max-width: 480px) {
  .logo-wrapper {
    width: 36vw;
    max-width: 75px;
  }

  .venyl_img img.vinyl-overlay {
    /* width: 74%;
    height: 76%;
    top: 13%;
    left: 4%; */
    width: 100%;
    height: 76%;
    top: 13%;
    left: 4%;
  }

  .clogo img.vinyl {
    width: 53%;
    top: 26%;
    left: 9%;
  }
}

/* ===== Very Small Phones (≤ 360px) ===== */
@media (max-width: 360px) {
  .logo-wrapper {
    width: 40vw;
    max-width: 70px;
  }

  .venyl_img img.vinyl-overlay {
    /* width: 73%;
    height: 75%;
    top: 13%;
    left: 4%; */
    width: 95%;
    height: 75%;
    top: 14%;
    left: 0%;
  }

  .clogo img.vinyl {
    width: 54%;
    top: 26%;
    left: 0%;
  }
}
@media(min-width:460px)
{
  .venyl_stick img.vinyl-stick{
    left:33%;
  }
}
@media(min-width:1220px)
{
    .venyl_stick img.vinyl-stick{
    left:25%;
    top:50%;
  }
}