/* src/index.css */
:root {
  --color-primary-red: #f81a26;
  --color-cream-white: #faffff;
  --color-charcoal-black: #171616;
  --color-dark-charcoal: #333333;
  --color-electric-blue: #00ffff;
  --color-bubblegum-magenta: #ff00ff;
  --font-anton: 'Anton', sans-serif;
  --font-antonio: 'Antonio', sans-serif;
  --font-null-feel: 'Anton', sans-serif;
  --font-fredoka-one: 'Fredoka One', cursive;

  --orbyz-red-light: rgba(255, 64, 64, 0.3);
  --orbyz-red-medium: rgba(255, 20, 80, 0.3);
  --orbyz-red-dark: rgba(180, 20, 20, 0.2);
  --orbyz-orb-gradient-start: rgba(255, 64, 64, 0.6);
  --orbyz-orb-gradient-end: rgba(180, 20, 20, 0.6);
}
